<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--上机-->
    <servlet>
        <servlet-name>StudentServletAdd</servlet-name>
        <servlet-class>onclass.one.servlet.StudentServletAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentServletAdd</servlet-name>
        <url-pattern>/StudentServletAdd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StudentServletDelete</servlet-name>
        <servlet-class>onclass.one.servlet.StudentServletDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentServletDelete</servlet-name>
        <url-pattern>/StudentServletDelete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StudentServletSelectAll</servlet-name>
        <servlet-class>onclass.one.servlet.StudentServletSelectAll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentServletSelectAll</servlet-name>
        <url-pattern>/StudentServletSelectAll</url-pattern>
    </servlet-mapping>
    <!--课后-->
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>underclass.servlet.AddProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>underclass.servlet.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
</web-app>