* {
    margin: 0;
    padding: 0;
}

#div1_bottom, #div2_div1 {
    margin: auto;
    padding: 0;
    width: 600px;
}
#p1_th1{
    margin: 0;
    padding: 0;
    font-size: 25px;
}
table{
    border-collapse: collapse;
}
tr,th,td{
    margin: 0;
    padding: 0;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    border-left: 1px solid red;
    border-right: 1px solid red;
}
#td1_tbody1 {
    width: 140px;
    height: 30px;
}
#td2_tbody1{
    width:175px;
    height: 30px;
}
.td_tbody {
    text-align: right;
}
#td1_tr7_tbody1{
    margin: 0;
    padding: 0;
    text-align: center;
}
.input_td1{
    margin: 0;
    padding: 0;
    width: 100px;
    height: 30px;
}
#select1_td,#proposer_id,#select2_td,#date_input{
    margin: 0;
    padding: 0;
    width: 180px;
}