<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>selectFurServlet</welcome-file><!--改变加载页面-->
    </welcome-file-list>
    <servlet><!--注册-->
        <servlet-name>selectFurServlet</servlet-name><!--注册名-->
        <servlet-class>ning.ying.servlet.selectFurServlet</servlet-class><!--注册位置-->
    </servlet>
    <servlet-mapping><!--挂牌-->
        <servlet-name>selectFurServlet</servlet-name><!--登记名-->
        <url-pattern>/selectFurServlet</url-pattern><!--浏览器访问方式-->
    </servlet-mapping>
    <servlet><!--注册-->
        <servlet-name>addFurServlet</servlet-name><!--注册名-->
        <servlet-class>ning.ying.servlet.addFurServlet</servlet-class><!--注册位置-->
    </servlet>
    <servlet-mapping><!--挂牌-->
        <servlet-name>addFurServlet</servlet-name><!--登记名-->
        <url-pattern>/addFurServlet</url-pattern><!--浏览器访问方式-->
    </servlet-mapping>
</web-app>