# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\S2\05-jsp\02-2022-06-09\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
